.search_container {
  display: grid;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.title {
  text-decoration: none;
  color: #a64149;
  margin-bottom: 20px;
}

.title:hover {
  color: #a17074;
}
