.dataImg {
  border-radius: 10px;
  box-shadow: 1px 3px 4px 1px #a64149;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-rows: auto;
  gap: 40px;
  padding: 10px;
  justify-content: center;
  cursor: pointer;
}


/* @media screen and (max-width: 1000px){
    .cardGrid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 680px){
    .cardGrid{
        grid-template-columns: repeat(1, 1fr);
    }
}
 */
