.cardDetailsGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px 0;

  width: 350px;
  background: rgb(231, 230, 233);
  box-shadow: 1px 3px 4px 1px #a64149;
  border-radius: 10px;
}

.detailsImg {
  border-radius: 10px;
}

.cardBody {
  padding: 10px;
}

.btnBack {
  background: none;
  border: none;
  color: #923940;
  cursor: pointer;
  font-size: 2rem;
}

.green {
  color: green;
}

.red {
  color: #f00;
}
