.dataImg {
  border-radius: 10px;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 40px;
  padding: 10px;
  justify-content: center;
}

@media screen and (max-width: 1000px){
    .cardGrid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 680px){
    .cardGrid{
        grid-template-columns: repeat(1, 1fr);
    }
}