.formSearch {
  margin-top: 20px;
}

.searchInput {
  width: 300px;
  height: 20px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  color: #817d7d;
}

.searchBtn {
  width: 60px;
  height: 1.5rem;
  border: 1px solid #A64149;
  border-radius: 5px;
  background: #A64149;
  color: #e1e1e1;
  cursor: pointer;
}

.searchBtn:hover {
  border: 1px solid #923940;
  background: #923940;
}
